@font-face{
    font-family: "vazir";
    src: url("https://rezaqqq.me/blob/master/fonts/Vazir-Regular-UI.ttf") format(ttf);
    src: local(Vazir);
}
body{
    background-color:darkgrey ;
}
.list {
    display: flex;
    flex-direction: column;
    margin-right:10% ;
    margin-top: 2%;
    border-style:none;
    list-style:inside;
    font-family: vazir;
}
.list li{
    padding-right: 5%;
    font-size: 2em;
    color:darkslategray;
}
.list li:first-child {
    font-size: 8em;
    list-style:none  ;
    color:maroon;
    padding-right: 2%;
}



.list li a{
    color:darkslategray;
    text-decoration:none;
}
.list li a:hover{
    color:darkslategray;
    text-decoration:dotted;
}
.post {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin: 1% 20%;
    font-family: vazir;
    font-size: 1.3em;
}
.title{
    color:maroon;
    font-family: vazir;
    font-size: 2em;
    display: flex;
    justify-content: center;
}