body {
    font-family: vazir;
}
.header  {
/* text-align: center;*/
font-size: 50px;
 font-family: vazir;
}
h1  {
    text-align: center;
   font-size: 50px;
    font-family: vazir;
   }
.ps {
  /*  text-align: center;*/
   font-family: vazir;
  /* margin : 40px 400px;*/
  margin:auto;

  max-width: 500px;
/*justify-content: center;
/display: block;*/

}

p{
    max-width: 500px;
  margin:auto;

/*justify-content: center;
    position: fixed;
    right:6%;*/
}
.date {
    margin: auto;
   max-width: 500px; 
   text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    
}

